@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;900&family=Righteous&display=swap');

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-titulo {
    line-height: 10px;
    flex-direction: column;
}

.cabecalho-links-style {
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
}

.cabecalho-a {
    color: white;
}

.cabecalho-a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#botao-destaque {
    border: 2px solid rgb(132, 14, 201);;
    padding: 10px;
    border-radius: 15px;
}

#botao-destaque:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
}

.conteudo-principal-adm {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    padding-top: 55px;
    align-items: center;
}

.conteudo-principal-titulo-adm {
    font-size: 30px;
    line-height: 10px;
    font-family: 'Poppinsmedium', sans-serif;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formulario [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    align-self: center;
}

.formulario [type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(188, 99, 247);
    color: white;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
