@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;900&family=Righteous&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}

.cabecalho-cad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-titulo-cad {
    line-height: 10px;
    flex-direction: column;
}

.cabecalho-links-style-cad {
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
}

.cabecalho-a {
    color: white;
}

.cabecalho-a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#botao-destaque {
    border: 2px solid rgb(132, 14, 201);;
    padding: 10px;
    border-radius: 15px;
}

#botao-destaque:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1, h2 {
    font-weight: 200;
}

.conteudo-principal-cad {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    align-items: left;
}

.conteudo-principal-cad-titulo {
    color: rgb(132, 14, 201);
}

.campo {
    color: white;
    margin-bottom: 20px;
    width: 50%;
}

label {
    margin-right: 20px;
}

input {
    border-radius: 8px;
    padding: 0.1em;
    border: 1.4px solid rgb(132, 14, 201);
    height: 20px;
    width: 50%;
}

.campo [type="date"] {
    width: 20%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#data {
    margin-right: 30px;
}

select {
    border-radius: 20px;
    padding: 0.1em;
    border: 1.4px solid rgb(132, 14, 201);
}

#imagem {
    padding: 6px 12px;
    cursor: pointer;
    width: 29%;
}

#imagem:hover {
    background-color: rebeccapurple;
}

.campo-textarea {
    color: white;
    margin-bottom: 20px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#descricao {
    resize: none;
    border-radius: 8px;
    padding: 0.1em;
    border: 1.4px solid rgb(132, 14, 201);
    height: 110px;
}

.botao-cad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    padding-top: 10px;
}

.botao {
    border-radius: 15px;
    padding: 1em;
    border: 1.4px solid rgb(132, 14, 201);
    background-color: rebeccapurple;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.botao:hover {
    cursor: pointer;
    background-color: rgb(188, 99, 247);
    color: white;
}