@media screen and (max-width: 1200px) {
     
    .cabecalho {
        flex-direction: column;
        justify-content: center;
        padding-top: 5%;
    }

    .cabecalho-titulo {
        align-items: center;
        text-align: center;
    }

    .cabecalho-links {
        gap: 10px;
        align-items: center;
        display: inline;
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }

    #botao-destaque {
        border: none
       
    }

    main {
        flex-direction: column;
        margin-top: 50px;
        align-items: center;
        text-align: center;
    }

    .conteudo-principal {
        width: auto;
    }

    .conteudo-principal-titulo {
        font-size: 2.5rem;
        line-height: 10px;
    }

    .conteudo-principal-paragrafo {
        width: 95%;
        padding-top: 5px;
        font-size: 1.1rem;
    }

    .conteudo-principal-links {
        margin: 0 auto;
        width: 100%;
    }

    .conteudo-principal-links-texto {
        font-size: 1.1rem;
        margin-bottom: 0 auto;
        margin-top: -10px;
    }

    .conteudo-principal-links-style {
        width: 50%;
        gap: 10px;
    }

    .conteudo-principal-imagem {
        width: 50%;
        margin-top: 15px;
    }

    .rodape {
        border-top: none;
    }

    .conteudo-principal-adm {
        flex-direction: column;
        margin-top: 60px;
        align-items: center;
        text-align: center;
    }

    .conteudo-principal-titulo-adm {
        font-size: 1.5rem;
        line-height: 25px;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .conteudo-principal-about {
        width: auto;
        gap: 0px;
        padding: 10px;
        gap: 5px;
    }

    .conteudo-principal-titulo-about {
        font-size: 2.5rem;
        line-height: 10px;
    }

    .conteudo-principal-paragrafo-about {
        width: auto;
        font-size: 1.1rem;
        font-weight: 100;
        text-align: left;
    }
    
    .conteudo-principal-imagem-about {
        width: 80%;
        height: auto;
    }
    
    .rodape-about {
        display: none;
    }

    .main-cabecalho-products {
        font-weight: 200;
        margin-bottom: 20px;
        font-size: 2.0rem;
        text-align: center;
        border: 0.4px solid rebeccapurple;
        padding: 5px;
        border-radius: 20px;
        font-weight: 200;
    }

    .grid-produtos {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        row-gap: 50px;
        column-gap: 20px;
    }

    .produto {
        border: 1px solid beige;
        padding: 10px;
        border-radius: 20px;
    }

    .produto-img {
        width: 100%;
        height: 70%;
        border-radius: 5px;
    }
    
    .produto p {
        color: #FFF2E7;
        background-color: rebeccapurple;
        padding: 1px;
        border-radius: 10px;
        text-align: center;
        cursor: default;
        font-size: 0.9rem;
        font-weight: 100;
        margin-top: 0px;
    }
    
    .rodape-products {
        display: none;
    }
}