@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;900&family=Righteous&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-titulo {
    line-height: 10px;
    flex-direction: column;
}

.cabecalho-links-style {
    display: inline-block;
    text-decoration: none;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
}

.cabecalho-a {
    color: white;
}

.cabecalho-a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#botao-destaque {
    border: 2px solid rgb(132, 14, 201);;
    padding: 10px;
    border-radius: 15px;
}

#botao-destaque:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 30px;
}

.botao-voltar {
    margin-top: -30px;
}

.back-link {
    text-decoration: none;
    color: white;
    font-weight: 100;
    border: 2px solid royalblue;
    padding: 5px;
    border-radius: 8px;
}

.back-link:hover {
    background-color: royalblue;
    color: white;
}

.conteudo-principal-produtopag {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 25px;
}

.conteudo-principal-titulo-produtopag {
    font-size: 46px;
    line-height: 10px;
    font-family: 'Poppinsmedium', sans-serif;
    width: 90%;
    height: fit-content ;
}

span {
    color: royalblue;
}

.conteudo-principal-paragrafo-produtopag {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppinslight', sans-serif;
}

p {
    font-weight: 100;
}

.conteudo-principal-imagem-produtopag {
    width: 50%;
    height: 435px;
    padding-top: 25px;
}

.rodape-produtopag {
    border-top: 0.4px solid #FFF2E7;
    padding: 10px;
}

.rodape-link {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
    display: none;
}

.rodape-link:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}