@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;500;600;700;900&family=Righteous&display=swap');

/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    max-width: 1200px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 0.4px solid #FFF2E7;
}

.cabecalho-titulo {
    line-height: 10px;
    flex-direction: column;
}

.cabecalho-links {
    display: flex;
    gap: 110px;
}

.cabecalho-links-style {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
}

.cabecalho-links-style:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#botao-destaque {
    border: 2px solid rgb(132, 14, 201);;
    padding: 10px;
    border-radius: 15px;
}

#botao-destaque:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
}

.main-cabecalho-products {
    font-weight: 200;
    margin-bottom: 20px;
    font-size: 2.0rem;
}

.grid-produtos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;

}

.produto {
    border: 1px solid beige;
    padding: 10px;
    border-radius: 20px;
}

.produto-img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.produto p {
    color: #FFF2E7;
    background-color: rebeccapurple;
    padding: 5px;
    text-align: center;
    cursor: default;
    border-radius: 5px;
    margin-top: 5px;
}

.produto p:hover {
    background-color: royalblue;
    transition: 0.3s all;
    color: black;
}

.rodape-products {
    border-top: 0.4px solid #FFF2E7;
    padding: 10px;
    margin-top: 40px;
}

.rodape-link {
    text-decoration: none;
    color: white;
    padding-top: 10px;
    margin: 20px;
    font-size: large;
    font-weight: 200;
}

.rodape-link:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}